body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 패널들이 위로 붙도록 설정 */
    min-height: 100vh;
    background-color: #333;
    padding: 20px;
}

.review-container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    flex-grow: 1;
    border-radius: 10px; /* 모서리를 둥글게 */
}

.review-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.review-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.review-container .review-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px; /* 이미지 모서리를 둥글게 */
}

.review-container .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.review-container .btn:hover {
    background-color: #555;
}

.review-container form {
    display: inline-block;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}
